@media (min-width:320px)  {
  .ife_transitions_back_to_top {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 0.5rem;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.6rem;
  }
}

@media (min-width: 768px) {
  .ife_transitions_back_to_top {
    bottom: 2rem;
    right: 1.5rem;
    outline: none;
    cursor: pointer;
    padding: 1rem;
  }
}
